{% extends 'base.html.twig' %}

{% block title %}Hello ExchangeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

    </style>

    <div class="example-wrapper">
        {#    <h1>Hello {{ controller_name }}! ✅</h1>#}

        {#    This friendly message is coming from:#}
        {#    <ul>#}
        {#        <li>Your controller at <code><a href="{{ '/var/www/symfony_test_app/exchange/src/Controller/ExchangeController.php'|file_link(0) }}">src/Controller/ExchangeController.php</a></code></li>#}
        {#        <li>Your template at <code><a href="{{ '/var/www/symfony_test_app/exchange/templates/exchange/index.html.twig'|file_link(0) }}">templates/exchange/index.html.twig</a></code></li>#}
        {#    </ul>#}
        <header>Currency Converter</header>
        <div class="widget widget-converter">
            <form action="/exchange" method="get">

            </form>
            <div class="form form-converter">

                <div class="form_item form_item-sum">
                    <label for="currency_amount">Amount</label><input id="currency_amount" size="10" min="0" value="0.00" type="number">
                    <label for="from_currency">From</label><select name="from_currency"
                                                               id="from_currency">

                        {% for currency in currencies %}
                            <option value="{{ currency }}">{{ currency }}</option>
                        {% endfor %}

                    </select>
                    <label for="to_currency">To</label><select name="to_currency"
                                                             id="to_currency">
                        {% for currency in currencies %}
                            <option value="{{ currency }}">{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form_item form_item-submit"><input value="Конвертувати" type="button"></div>
                <table>
                    <tr>
                        <td>from</td>
                        <td>to</td>
                        <td>date</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
